<h1>Order Details</h1>
<p>First Name: <%= @orders.first_name%></p>
<p>Last Name: <%= @orders.last_name %></p>
<p>Topping: <%= @orders.topping %></p>
<p>Quantity: <%= @orders.quantity %></p>
<p>Cost: £<%= @orders.total %></P>

<form method="post" action="/pizza_orders/<%=@orders.id%>/delete">
  <input type="submit" value="Delete Order"/>
</form>

<p id="edit"><a href="/pizza_orders/<%=@orders.id%>/edit">Edit</a></p>
